$font-family: 'Roboto', sans-serif;

// COLORS
$gray: #323337;

$dark-gray: rgba(0, 4, 11, 0.5); //#191b21;
$dark: rgba(0, 4, 11, 0.8); //#0c0f16;
$dark-blue: rgba(2, 2, 21, 0.5); //#1a1a26;

$blue: #5ac8fa;
$font-color: #e1e1e1;
